mixin toolbar(title)
  header.mdl-layout__header.mdl-layout--fixed-drawer
    div.mdl-layout__header-row
      span.mdl-layout-title= title
      div.mdl-layout-spacer
      div.mdl-chip.mdl-chip--contact
        img#profile-image.mdl-chip__contact/
        span#profile-name.mdl-chip__text Guest
      div.mdl-button.mdl-js-button.mdl-button--icon
        div.material-icons notifications
      div.mdl-button.mdl-js-button.mdl-button--icon
        div.material-icons settings
  nav.mdl-layout__drawer
    span.mdl-layout-title
      | Drawer!
    nav.mdl-navigation
      a.mdl-navigation__link
        | Hi
