doctype html
html(lang=ko)
  head
    title
      | Study에 로그인
    meta(name="google-signin-client_id" content="883812000346-sednv1fk1n1kru5blstt506uqbcfo166.apps.googleusercontent.com")
    meta(name="google-signin-scope" content="profile email")
    script(src="https://apis.google.com/js/platform.js") async defer

    include setup.pug
    link(rel="stylesheet" href="./static/login.css")
    script(type="text/javascript" src="./script/login.js")
  body
    include header.pug
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      +toolbar("로그인")
      main.mdl-layout__content.mdl-grid(style="margin: 16px;")
        div.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-offset(style="width: auto; height: 60%;")
          div.mdl-card__title
            h2.mdl-card__title-text
              | 로그인
          div.mdl-card__supporting-text
            form(action="#")
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#id-box.mdl-textfield__input(type="text")
                label.mdl-textfield__label(for="id-box")
                  | 이메일 주소
            form(action="#")
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#password-box.mdl-textfield__input(type="password")
                label.mdl-textfield__label(for="password-box")
                  | 비밀번호
          div.mdl-card__actions.mdl-card--border
            a#login-button.mdl-button.mdl-js-button.mdl-button--colored.mdl-js-ripple-effect
              | 로그인
            a.mdl-button.mdl-js-button.mdl-button--colored.mdl-js-ripple-effect(onclick="window.location = './register'" style="float: right")
              | 회원가입
        div#snackbar.mdl-snackbar.mdl-js-snackbar
          div.mdl-snackbar__text
          button.mdl-snackbar__action(type="button")
